.categoryPage {
    margin-bottom: 100px;
}

.categoryPage h1 {
    margin-bottom: 35px;
    position: relative;
}

.categoryPage h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 250px;
    background-color: #000;

}

.postsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 20px;
}

.backToHome {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
  
.backToHome a {
    display: flex;
    place-items: center;
    place-content: center;
    color: #000;
    font-weight: 500;
    font-size: 14px;
 }

.icon {
    color: #000;
    margin-right: 3px;
}

@media (max-width: 920px){
    .postsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .postsGrid {
        grid-template-columns: 1fr;
    }

    .heading {
        width: 250px;
    }

    .heading span {
        font-size: 28px;
    }
    
}