.contactPage {
    display: flex;
    width: 100%;
    margin: 40px auto 100px auto;
    place-content: center;
}

.contactPageDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin-right: 25px;
}

.heading {
    margin-bottom: 12px;
}

.lead {
    margin-bottom: 20px;
    padding-right: 20px;
}

.contactInfo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}

.icon {
    margin-right: 3px;
    font-size: 20px;
    color: #333;
    position: relative;
    top: 3px;
}

.whatsapp {
    color: #21b657;
}

.email {
    color: #148eeb;
}

/* Form */
.contactForm {
    width: 35%;
}

.contactForm input:-webkit-autofill,
.contactForm input:-webkit-autofill:hover, 
.contactForm input:-webkit-autofill:focus, 
.contactForm input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f5f2f2 inset !important;
}

.formControl {
	margin: 35px 0;
    position: relative;
}

.formControl label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    transition: all .2s ease;
    pointer-events: none;
}

.contactForm input[type='text'],
.contactForm input[type='email'],
.contactForm input[type='number'] {
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	width: 100%;
    height: 35px;
	padding: 3px 12px;
	font-size: 16px;
    background-color: transparent;
    transition: all .4s ease;
    -webkit-appearance: none;
}

.contactForm textarea {
    border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	width: 100%;
	padding: 15px 12px;
	font-size: 16px;
    resize: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    transition: all .4s ease;
    -webkit-appearance: none;
}

.contactForm input[type='text']:focus,
.contactForm input[type='email']:focus,
.contactForm input[type='number']:focus,
.contactForm textarea:focus {
    outline: none;
    overflow: auto;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.contactForm input[type='number']::-webkit-outer-spin-button,
.contactForm input[type='number']::-webkit-inner-spin-button  {
    -webkit-appearance: none;
}


.contactForm input[type='text']:focus + label,
.contactForm input[type='email']:focus + label,
.contactForm input[type='number']:focus + label,
.contactForm textarea:focus + label,
.contactForm input[type='text']:valid + label,
.contactForm input[type='email']:valid + label,
.contactForm input[type='email']:invalid + label,
.contactForm input[type='number']:valid + label,
.contactForm textarea:valid + label {
    opacity: 1;
    transform: scale(0.75) translateY(-120%) translateX(-30px);
    font-weight: 500;
}

.contactForm input[type='email'][value=''] + label {
    opacity: .5;
    transform: none !important;
    font-weight: 400 !important;
}

.contactForm input[type='email'][value='']:focus + label {
    opacity: 1 !important;
    transform: scale(0.75) translateY(-120%) translateX(-30px) !important;
    font-weight: 500 !important;
}

.contactForm input[type='submit'] {
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    display: block;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-appearance: none;
}

.contactForm input[type='submit']:hover {
    background-color: rgba(79, 78, 78, 0.95);
    transform: scale(1.025);
    box-shadow: 4px 9px 15px -5px rgba(0,0,0,0.1);
}

.contactForm input[type='submit']:active {
    transform: scale(.95);
}

.messageSent {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 442px;
    place-content: center;
    place-items: center;
}

@media (max-width: 920px) {
    .contactPage {
        flex-direction: column;
    }
    
    .contactPageDetails {
        text-align: left;
    }

    .heading {
        margin: 12px 0;
    }

    .contactInfo {
        width: 100%;
        text-align: left;
        margin: 20px auto;
    }

    .contactPageDetails, .contactForm {
        width: 80%;
        margin: 0 auto;
    }

    .messageSent {
        margin: 50px 0;
    }
}
 
@media (max-width: 500px) {
    .contactPageDetails {
        text-align: center;
    }
    
    .heading {
        font-size: 22px;
    }

    .lead {
        font-size: 14px;
    }

    .contactInfo {
        width: 270px;
        font-size: 14px;
    }
    
    .contactForm input[type='submit'] {
        display: block;
        width: 100%;
    }

    .messageSent {
        font-size: 14px;
    }
}