
.footer img {
    width: 180px;
}

.footer {
    width: 100%;
    padding: 40px 50px;
    background-color: #0a0a0a;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.topFooter {
    display: flex;
    justify-content: space-around;
    place-items: center;
    width: 100%;
}

.logoBox {
    min-width: 100px;
}

.logo {
    cursor: pointer;
}

.menuIcons ul {
    display: flex;
    margin-left: -50px;
}

.menuIcons a {
    text-decoration: none;
    margin: 0 20px;
    color: #fff;
    font-size: 14px;
    opacity: .45;
    transition: .2s ease-in-out;
}

.menuIcons a:hover {
    opacity: 1;
}

.socialIcons {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.icon {
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    transition: .2s ease;
}

.youtube:hover {
    color: #ff0000;
}

.twitter:hover {
    color: #1C9CEA;
}

.instagram:hover {
    color: #c13584;
}


.bottomFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bottomFooter p {
    font-size: 12px;
    color: #ccc;
}

.bottomFooter p:first-child {
    margin-top: 15px;
}

.footer hr {
    width: 90%;
    opacity: .15;
    margin: 15px auto;
}

@media (max-width: 775px) {
    .logoBox {
        display: none;
    }

    .topFooter {
        flex-direction: column-reverse;
    }

    .menuIcons ul {
        margin-left: 0;
    }

    .menuIcons a {
        margin: 0 16px;
    }

    .socialIcons {
        margin-bottom: 15px;
    }

    .footer hr {
        width: 60%;
    }

}
