@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #333;
	--secondary-color: #d3c23e;
	--dark-color: #b6a632;
	--light-color: #ffea4b;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  background-color: #dbdbdb;
}

a {
  text-decoration: none;
}


