.homepage {
    width: 100%;
    margin-top: -80px;
    margin-bottom: 100px;
    text-align: center;
}

.favoritePostsBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.postsGrid {
    display: grid;
    overflow: visible;
    place-items: top;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    overflow:visible !important
}

.endMessage, .loadingMessage {
    margin-top: 35px;
    margin: 55px auto -20px auto;
    padding: 12px;
}

@media (max-width: 920px){
    .postsGrid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .heading {
        width: 250px;
    }

    .endMessage {
        font-size: 14px;
    }

    .heading span {
        font-size: 28px;
    }
    
}