/* Newsletter - Sidebar Post Page */

.newsletter {
    margin: 35px 0;
}

.heading {
    position: relative;
    padding: 0 10px;
    margin-bottom: 25px;
    font-size: 16px;
}

.heading::after {
    content: '';
    height: 70%;
    width: 3px;
    position: absolute;
    top: 15%;
    left: 0;
    background: rgba(0,0,0, .9);
}

.newsletterInputBox {
    margin-top: -15px;
    text-align: left;
}

.newsletterInputBox h4 {
    font-size: 15px;
    font-weight: 400;
}

.newsletterInputBox p {
    font-size: 15px;
}

.newsletterInput {
    margin-top: 8px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #ecebeb;
    display: flex;
    position: relative;
}

.newsletterInput input{
    border: 1px solid #ccc;
    outline: none;
    background: none;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 0 12px;
    transition: .5s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.newsletterInput input:focus {
    border: 1px solid #000;
}

.newsletterInput input::placeholder {
    color: #c3c3c3;
}

.newsletterInput a {
    width: 55px;
    display: flex;
    place-content: center;
    padding: 5px;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    border-radius: 2px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 12px;
}

.newsletterInput a:hover {
    background-color: rgba(81, 81, 81, 0.95);
}

/* Newsletter - FullWidth */
.newsletterfullWidth {
    padding: 15px;
    margin-bottom: 60px;
}

.headingfullWidth::after {
    content: none;
}

.newsletterInputBoxfullWidth {
    display: flex;
}

.newsletterInfofullWidth {
    width: 55%;
    margin-right: 15px;
}

.newsletterInfofullWidth h4 {
    font-size: 22px;
    font-weight: 500;
    margin-top: -8px;
    margin-bottom: 5px;
}

.newsletterInfofullWidth p {
    font-size: 15px;
    color: #828282;
}

.newsletterInputfullWidth {
    width: 55%;
}

@media (max-width: 920px) {
    .newsletterInputBoxfullWidth {
        flex-direction: column;
        align-items: center;
    }

    .newsletterInfofullWidth {
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
        text-align: justify;
    }

    .newsletterInfofullWidth h4 {
        text-align: center;
    }

    .newsletterInputfullWidth {
        min-width: 100%;
    }

    .newsletterInputfullWidth input, .newsletterInput input {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .newsletterInfofullWidth h4 {
        font-size: 18px;
    }

    .newsletterInfofullWidth p {
        font-size: 12px;
    }
}