.postPage {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 20px;
}

.headingBox {
  margin: 0 0 15px;
}

.backToHome {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.backToHome a {
  display: flex;
  place-items: center;
  place-content: center;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.icon {
  color: #000;
  margin-right: 3px;
}

.user {
  display: flex;
  gap: 8px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.userAvatar {
  display: grid;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.userInfo > small {
  color: #666;
}

.postTitle {
  margin-bottom: 20px;
}

.postTitle h1 {
  margin-bottom: 5px;
}

.postTitle a {
  padding: 3px 18px;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(0,0,0,.85);
}

.postContent {
  padding: 15px 0;
}

@media (max-width: 920px) {
  .postPage {
    grid-template-columns: none;
    grid-template-rows: 1fr;
  }
}