.relatedPostsBox {
    width: 100%;
}

.heading {
    position: relative;
    padding: 0 10px;
    margin-bottom: 25px;
    font-size: 16px;
}

.heading::after {
    content: '';
    height: 70%;
    width: 3px;
    position: absolute;
    top: 15%;
    left: 0;
    background: rgba(0,0,0, .9);
}

@media (max-width: 920px) {
    .relatedPosts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 12px;
    }

    .relatedPostsBox {
        margin-top: -35px;
    }

    .heading {
        text-align: center;
    }

    .heading::after {
        content: none
    }
}

@media (max-width: 575px) {
    .relatedPosts {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        margin: 20px auto 0 auto;
        width: 75%;
    }

}
