.card{ 
    margin-bottom: 25px;
    text-align: left;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.cardImage {
    position: relative;
    transition: all .2s ease;
}
  
.cardImage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all .2s ease-in-out;
 }

.card:hover .cardImage::after {
    background-color: rgba(0, 0, 0, 0.45);
}

.cardBody {
    margin-top: 5px;
    line-height: 1.4;
    text-align: justify;
    word-wrap: break-word;
}

.cardDate small {
    color: #666;
}

/* @media (max-width: 575px) {
    .cardImage {
        width: 75%;
        margin: 0 auto;
    }

    .cardBody {
        text-align: center;
    }
} */