.scrollTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .2s ease-in-out;
}

.icon {
    width: 35px;
    height: 35px;
    padding: 8px;
    background-color: rgb(94, 94, 94);
    color: #fff;
    border-radius: 2px;
}

.scrollTop:hover {
    transform: scale(1.05);
}

.scrollTopHidden {
    display: none;
}


@media (max-width: 920px) {
    .scrollTop {
        padding: 30px
    }

    .scrollTop:hover {
        transform: none;
    }
}