.searchBox { 
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.searchInput {
    width: 80px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 12px 35px 12px 12px;
    text-indent: 8px;
    color: #fff;
    background-color: rgba(0, 0, 0, .15);
    transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}

.headerBgSearchInput {
    background-color: #fff;
    opacity: .25;
    color: #000;
}

.headerBgSearchInput:focus {
    background-color: #fff !important;
    opacity: 1 !important;
}

.searchInput::placeholder {
    opacity: 0;
    color: rgb(155, 155, 155);
}

.searchInput:focus::placeholder {
    opacity: 1;
    transition: .1s ease-in-out;
}

/* Sticky */
.stickySearch {
    background-color: #fff;
    opacity: .25;
    transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}

.stickyIcon {
    color: #000 !important;
    opacity: .35 !important;
}

.stickySearch:focus {
    background-color: #fff !important;
    opacity: 1 !important;
    color: #000 !important;
}

.stickySearch:focus ~ .stickyIcon {
    color: #000 !important;
    opacity: 1 !important;
}

.icon {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    opacity: .35;
}

.headerBgIcon {
    color: #000 !important;
    opacity: .35 !important;
}

.searchInput:focus ~ .headerBgIcon {
    opacity: 1 !important;
    
}

.searchInput:focus ~ .icon {
    opacity: 1;
}

.searchInput, .icon {
    transition-duration: .3s;
}

.searchInput:focus {
    width: 150px;
    background-color: rgba(0, 0, 0, .35);
}

.searchResults {
    width: 450px;
    margin: 9px 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
    box-shadow: 0px 17px 12px -7px rgba(0, 0, 0, 0.804);
}

@media (max-width: 920px) {
    .searchBox {
        /* Fix Search Bar showing only on menuMobile when responsive */
        display: none;
        justify-content: right;
        width: 20%;
    }

    .searchInput {
        width: 100px;
        background-color: rgb(53, 53, 53);
        color: #000;
    }

    .searchInput:focus {
        width: 200px;
        background-color: #fff;
    }
    
    .searchInput::placeholder {
        opacity: 1;
    }

    .searchInput::placeholder {
        opacity: 0;
        color: rgb(155, 155, 155);
    }

    .icon {
        right: 10%;
        opacity: 1;
        color: #fff;
    }

    .searchInput:focus ~ .icon {
        color: #000;
    }

}
