.card {
    display: grid;
    grid-template-columns: 1.2fr .5fr;
    width: 100%;
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 999;
    transition: .2s ease-in-out;
    margin-left: 50px;
    margin: 0 auto;
}

.card:hover {
    background-color: rgba(59, 59, 59, 0.95);
}

.cardInfo {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardInfo h2 {
    margin-bottom: -10px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.catAndAuthor {
    display: flex;
}

.catAndAuthor p, .catAndAuthor span {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
}

.catAndAuthor span, .catAndAuthor p:last-child {
    margin-left: 5px;
}

.cardImage {
    padding: 8px;
}