.card {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    background: rgba(0, 0, 0, 0.97);
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    z-index: 99;
    overflow: auto;
    transition: .2s ease-in-out;
}

.card:hover {
    background-color: rgba(59, 59, 59, 0.95);
    box-shadow: 0px 17px 12px -7px rgba(0, 0, 0, 0.804);

}

.cardInfo {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardInfo h2 {
    width: 90%;
    margin-bottom: -20px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.catAndAuthor {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.cardInfo p, .cardInfo span {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}


.cardImage {
    padding: 8px;
}