.searchBox { 
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.searchInput {
    width: 80px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 12px;
    text-indent: 8px;
    color: #fff;
    background-color: rgba(0, 0, 0, .15);
    transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}

.searchInput::placeholder {
    opacity: 0;
    color: rgb(155, 155, 155);
}

.searchInput:focus::placeholder {
    opacity: 1;
    transition: .1s ease-in-out;
}

.icon {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    opacity: .05;
}

.searchInput:focus ~ .icon {
    opacity: .9;
}

.searchInput, .icon {
    transition-duration: .3s;
}

.searchInput:focus {
    width: 150px;
    background-color: rgba(0, 0, 0, .35);
}

@media (max-width: 920px) {
    .searchBox {
        display: none;
        justify-content: right;
        width: 20%;
    }

    .searchInput {
        width: 100px;
        background-color: rgb(53, 53, 53);
        color: #000;
    }

    .searchInput:focus {
        width: 200px;
        background-color: #fff;
    }
    
    .searchInput::placeholder {
        opacity: 1;
    }

    .searchInput::placeholder {
        opacity: 0;
        color: rgb(155, 155, 155);
    }

    .icon {
        right: 10%;
        opacity: 1;
        color: #fff;
    }

    .searchInput:focus ~ .icon {
        color: #000;
    }

}

@media (max-width: 500px) {
    
}