.showcase {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0,0,0,.35), rgba(0,0,0,.35)), url('/assets/showcase.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -85px;
    margin-bottom: 35px;
    box-shadow: 0px 10px 19px -4px rgba(0,0,0,0.15);
}

.container {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0, .25);
    padding: 35px 25px;
    border-radius: 8px;
    box-shadow: 0px 10px 19px -4px rgba(0,0,0,0.35);
    backdrop-filter: blur(5px);
    animation: slideFromBottom 2s ease;
}

.container a {
    width: 120px;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;
    transition: .2s;
    color: #fff;            
    font-size: 12px;
    position: relative;
}

.container a span {
    position: absolute;
    top: -50%;
    width: 100%;
    font-size: 20px;
    margin-left: 8px;
}

.container a:hover span {
    animation: arrowToRight .75s ease-in-out;
}

.textBox {
    word-wrap: break-word;
    position: relative;
    z-index: 1;
    text-align: left;
}

.topHeading {
    color: #fff;
    font-weight: 300;
    margin-bottom: -15px;
}

.subHeading {
    color: var(--secondary-color);
    font-weight: 500;
    margin-bottom: 30px;
}

.lead {
    color: #fff;
    font-weight: 300;
    margin-bottom: 15px;
}

.lead:first-of-type {
    margin-bottom: 15px;
}

.lead span {
    font-style: italic;
    font-weight: 500;
}

@keyframes arrowToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(40px);
        opacity: 0;
    }

    75% {
        transform: translateX(-40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 920px) {
    .container {
        margin-left: 0;
    }
   
    .topHeading {
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .showcase {
        margin-bottom: 0;
    }

    .container {
        width: 90%;
        place-content: center;
    }

    .topHeading {
        font-size: 18px;
        margin-bottom: -8px;
    }

    .subHeading {
        font-size: 20px;
    }

    .lead {
        font-size: 14px;
    }

}