.showcase {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0,0,0,.35), rgba(0,0,0,.35)), url('/assets/showcase.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -85px;
}

.container {
    position: absolute;
    left: 10%;
}

.showcaseBox {
    width: 45%;
    height: 100%;
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.showcaseBox::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 10px;
}

.textBox {
    position: relative;
    z-index: 1;
}

.heading {
    margin-bottom: 30px;
}

.topHeading {
    color: var(--secondary-color);
}

.subHeading {
    color: #fff;
}

.content {
    text-align: left;
    color: #fff;
}

.content p {
    margin: 10px 0;
}